# config vars for the root file system
HYPRIOT_OS_VERSION="v2.2.1"
ROOTFS_TAR_CHECKSUM="bbd035543c8cf0fd874a9723e6c174d939f7e528e3aeb954b5affeec89671583"

# name of the ready made raw image for x86
RAW_IMAGE="x86-raw.img"
RAW_IMAGE_VERSION="v0.0.1"
RAW_IMAGE_CHECKSUM="a3aaf68f17269977bf93eb7fe6a5f34fdd423ad1f6e4146626778b7d05533b5c"

# specific versions of docker tools
export DOCKER_CE_CHANNEL="stable" # stable, test or edge
export DOCKER_CE_VERSION="5:19.03.12~3-0~debian-buster"
export DOCKER_COMPOSE_VERSION="1.26.1"
export DOCKER_MACHINE_VERSION="0.16.2"




########################################################
# add for RDBOX
########################################################
RDBOX_VERSION="0.2.0"
#HYPRIOT_RELEASE_VERSION=`curl -qsS https://api.github.com/repos/hypriot/image-builder-rpi/tags | jq .[0].name | sed 's/"//g' |tr -d '\n'`
HYPRIOT_RELEASE_VERSION=v1.12.3
export RDBOX_VERSION=$RDBOX_VERSION
export HYPRIOT_RELEASE_VERSION=$HYPRIOT_RELEASE_VERSION
export VERSION=$HYPRIOT_RELEASE_VERSION.rdbox-v$RDBOX_VERSION
export KUBEADM_VERSION="1.18.2-00"
export KUBERNETES_CNI_VERSION="0.7.5-00"
